# Copyright (c) 2025 The Contributors to Eclipse OpenSOVD (see CONTRIBUTORS)
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0

name: Generate documentation

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  actions: write
  pages: write
  id-token: write

jobs:
  build_documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - uses: ./.github/actions/setup-dlt
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
      - name: Build documentation
        run: cargo doc --no-deps --all-features
      - name: Add index redirect
        run: echo '<meta http-equiv="refresh" content="0; url=tracing_dlt">' > target/doc/index.html
      - name: Upload artifact for GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/doc
      - name: Create docs archive
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cd target/doc
          tar -czf ../../rustdoc.tar.gz .
      - name: Upload to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: rustdoc.tar.gz

  deploy_pages:
    if: github.ref == 'refs/heads/main'
    needs: build_documentation
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
